<div class="container">
  <div class="row">
    <div class="col-md-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        Mes appareils
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <app-appareil [appareilName]="appareilOne" [appareilStaus]="'eteint'"></app-appareil></a>
      <a href="#" class="list-group-item list-group-item-action">
        <app-appareil [appareilName]="appareilTwo" [appareilStaus]="'allumé'"></app-appareil>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <app-appareil [appareilName]="appareilTree" [appareilStaus]="'allumé'"></app-appareil></a>
    </div>

      <button class="btn btn-success"
              [disabled]="!isAuth" (click)="onAllumer()"> Tout Allumer</button>
    </div>
</div>
</div>
